@font-face {
    font-family: 'Avenir';
    src: url('/fonts/AEH.ttf');
}

body{
    font-family: Avenir, serif !important;

}

.navbar .nav-link {
    color: #757575 !important;
    font-size: 3vh;
}


.navbar{
		/*line-height: 25vh;
	vertical-align: middle;*/
	height: 25vh;
}

.navbar{
	padding: 0px !important;
}

.nav_bar{
	padding: 0px !important;
}


.nav_{
	display: flex;
    justify-content: flex-end;
    margin:5vh;
}

.nav-item{
	padding-right: 2vw;
}

h1{font-family: serif;
	font-weight: 800;
}

.code p{
	font-family: serif;
	font-size: 5vh;
}



/*h6{
	font-family: serif;

}*/

.con a{
	color: #757575;
	font-size: 4vh;
}

.conclude a:hover {
  text-decoration: none;
	color: #757575;
}

p{
	font-family: serif;
	font-size: 3vh;
	
}
.box h1{
	padding: 8vh 6vw;
	padding-bottom: 2vw;
	font-size: 8vh;
	font-weight: 800;
}


.nav_bar img{
	height: 8vh;
	width: auto;
	margin-left: 2%;
}

.nav_bar a:visited{
	color: orange;

}

.navbar .btn-default{
	background: linear-gradient(90deg, var(--c1, #f6d365), var(--c2, #fda085) 51%, var(--c1, #f6d365)) var(--x, 0)/200% !important;
	border-radius: 3rem !important;
	border-width: 2px !important;
	color: #fff !important;
    transition: 0.6s;
}

.box {
    background: linear-gradient(to bottom right, #FFAA00, #F1726C);
    border-radius: 12px;
    min-height: 60vh;
    
}

.code{
	background: white;
    border-radius: 8px;
    min-height: 30vh;
    margin: 1%;
    margin-top: -10%;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.24);
    width: 25% ;

}

.code p{
	padding: 10%;
}

.left{
	text-align: left !important;
	width: 90%;
}


.im {
	padding-top: 10%;
}

.sec h3{
	padding-top: 20% !important;
}

.clubs p{
	margin-right:auto; 
	margin-left:0;
}

.image{
	background-color: #f9f9f9;
	height: 140vh;
	margin-top: 5vh;
	margin-bottom: 5vh;

}

.sec{
	display: flex;
	flex-direction: row;
}

.sec img{
	height: 3vh;
	width: auto;
	margin: 3%;
	margin-top: 0%;
}

.im{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

h2{
	padding: 3%;
}

h4{
	color: #616161;
}

.clb{
	display: flex;
	flex-direction: row;
	width: 90%;
	margin-bottom: 5vh;
}

.image img{
	width: 70%;
	
	/*padding-bottom: 5vh;*/

}

.Programming{
	--c1: rgba(0,50,212,1);
    --c2: rgba(209,51,255,1);
}

.Programming:hover{
	--c2: rgba(0,50,212,1);
    --c1: rgba(209,51,255,1);
/*    -webkit-transition: all 0.4s ease-in-out;
	   -moz-transition: all 0.4s ease-in-out;
	        transition: all 0.4s ease-in-out;*/
}

.image p{
	padding-top: 10vh;
	font-size: 5vh;
	font-family: 'AvenirNext' , serif;
}

.Web{
	--c1: rgba(70,211,255,1);
    --c2: rgba(26,251,148,1);
	}

.Web:hover{
	--c2: rgba(70,211,255,1);
    --c1: rgba(26,251,148,1);
	}

.Design{
	--c1: rgba(255,144,120,1);
    --c2: rgba(255,142,210,1);
}

.Design:hover{
	--c2: rgba(255,144,120,1);
    --c1: rgba(255,142,210,1);
}

.Technical{--c1: #f6d365;
    --c2: #fda085;
}

.Technical:hover{--c2: #f6d365;
    --c1: #fda085;
}

.club{
	width: 100%;
	height: 20vh;
	min-height: 10vh;
	border-radius: 10px;
	background: linear-gradient(138deg, var(--c1, #f6d365), var(--c2, #fda085) 51%, var(--c1, #f6d365)) var(--x, 0)/200%; 
	line-height: 20vh;
	vertical-align: middle;


}

.club img{
	width: 35%;
	
}

.clubs{
	width: 22% !important;
	padding: 1%;
	padding-top: 2%;
	margin: 1vw;
	margin-bottom: 2%;

}

.clubs p {
	margin-top: 5%;
	color: #6c757d!important;
	font-size: 2.7vh;
}

.clubs h2{
	margin-top: 2%;
	padding-left: 0px;

}


.clubs:hover{
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.24);

}

.about{
	background-color: #f9f9f9 !important;
	padding-bottom: 40vh;
}

.f{
	width: 80%;
}

.about .container {
	width: 60%;
}

/*h1{
	padding: 10%;
}*/

.flex{
	display: flex;
	flex-direction: row ;
	background-color: #D3D3D3;

}

.flex .team{
	--c1: rgba(255,144,120,1);
    --c2: rgba(255,142,210,1);	
}

.flex .team:hover{
	--c2: rgba(255,144,120,1);
    --c1: rgba(255,142,210,1);	
}

.flex .projects{
	--c1: rgba(70,211,255,1);
    --c2: rgba(26,251,148,1);

}

.flex .projects:hover{
	--c2: rgba(70,211,255,1);
    --c1: rgba(26,251,148,1);

}

.flex .base_{
	background: linear-gradient(138deg, var(--c1, #f6d365), var(--c2, #fda085) 51%, var(--c1, #f6d365)) var(--x, 0)/200%; 
	border-radius: 10px;
	width: 25vw;
	height: 30vh;
	padding: 1.5%;
	margin: 0.5%;
	margin-top: -15vh;
}

.conclude{
	background-color: #D3D3D3;
}

.abc{
	display: flex;
	flex-direction: row;
	padding:5% 0% 5% 0%; 

}

.c{
	width: 25%;

}

.d{
	width: 50%;
}

.con a{
	text-decoration:none;
}

button:hover{--c2: #f6d365;
    --c1: #fda085;
    /*transition: 3s;*/


}	
.abc img{
	height: 10vh;
	width: auto;
	}

.flex img{
	height: 5vh;
	width: auto;
	margin-left:85%;
	}

.z img{
	height: 7vh;
	width: auto;
	margin: 10px !important;
}

.m{
	display: flex;
	flex-direction: row;
}

@media screen and (max-width: 768px) {
  

  .navbar{
  	width: 90%;
  	padding: 3% 0% !important;
  	height: 16vh;
  }

  .nav_bar img{
  	margin-left: 0px;
  	height: 6vh;
  	width: auto;
  }

.z{
	margin-right: 24vw;
}
  
 .box h1{
 	font-size: 5vh;
 }

 .box p{
 	padding-top: 10%;
 
 }

  .image{
  	height: 70vh;
  	padding: 7%;

  }

  .image img{

  	height: 45vh;
  	width: 65vw;
  }


.flex{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	  }

.flex .base_{
	width: 90vw;
	height: 40vh; 
	margin: 1%;
			}

.clb{
	display: flex;
	flex-direction: column;
	align-items: center;
	}
 

.clubs{
	width: 80% !important;
	margin: 5%;
	margin-top: 10%;
} 





.clubs p{
	margin-top: 0%;
}

.cod{
	margin-top: -25% !important;
}

.sec{
		display: flex;
	flex-direction: column;
	  justify-content: center;
	    align-items: center;
}

.code{

	margin: 2vh;
	width: 70%;
}


.c {
	padding: 6%;
}



.f{
	margin-top: 5vh !important;
	margin-bottom: 5vh !important;
}




.d{
	/*padding-right: 55vw;*/
	margin-left: 16vw;
}


.n{
	margin-left: 20vw;
}

.abc{
	display: flex;
	flex-direction: column;
	padding:6%;
	/*justify-content: center;*/
	}

.about{
	height: 80vh;
	padding-top: 10% !important;
}

.flex .base_{
	height: 28vh;
}

}
